.imagePreview {
  margin-top: 20px;
  padding: 20px;
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.displayImagePreview {
  width: auto;
  height: "auto";
  max-height: 100px;
}

.img-wrap {
  position: relative;
  width: fit-content;
  margin-right: 20px;
}
.img-wrap .close {
  position: absolute;
  top: -21px;
  right: -10px;
  z-index: 100;
  font-size: xx-large;
}
