.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.marginApp {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1600px;
}

.lock:hover .icon-unlock,
.lock .icon-lock {
  display: none;
}
.lock:hover .icon-lock {
  display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  white-space: pre-wrap;
}

p {
  text-align: justify;
}
